.SQLControl {
  /*border: 1px solid green;*/
  display: flex;
  padding: 20px;
}
.SQLControl * {
  display: flex;
}

.SQLControl button {
  border-radius: 5px;
  justify-content: center;
}
.input {
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.queryOutput {
  margin-left: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  overflow: scroll;
  flex-grow: 1;
  flex-basis: 0;
}
.queryOutput table {
  display: table;
}
.queryOutput td {
  display: table-cell;
}
.queryOutput tr {
  display: table-row;
}
.queryOutput th {
  display: table-cell;
}
.queryOutput thead {
  display: table-header-group;
}
.queryOutput tbody {
  display: table-row-group;
}

textArea {
  height: 200px;
  padding: 5px;
  border-radius: 5px;
}

.runSQL {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid black;
}

.prefillButtons {
  margin-top: 10px;
  justify-content: space-between;
  align-items: baseline;
}
.prefillButtons button {
  padding: 5px 15px;
}

@media (max-width: 600px) {
  .prefillButtons {
    flex-direction: column;
  }
  .prefillButtons button {
    margin-top: 10px;
    width:100%;
  }
}
